/* ReplacementFinder.css */
body{
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  
}
.tables {
  display: flex;
  gap: 20px;
  
  margin-top: 30px;;
}
.skill-table {
  width:400px;
  border: 1px solid #0b0a0a;
  border-radius: 5px;
  padding: 10px;
  background-color: #f2f2f2;
  box-shadow: 0 0 10px rgba(8, 197, 235, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  
}

.employee-table{
  flex: 1;
  border: 1px solid #0b0a0a;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff; /* White background */
  box-shadow: 0 0 10px rgba(8, 197, 235, 0.1);
 
}
.employee-table h2,
.skill-table h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.employee-table table,
.skill-table table {
  width: 100%;
  border:1px solid black;
  margin-top: 10px; /* Added margin for spacing */
  background-color: #fff; /* White background for entire table */
}
.employee-table th,
.employee-table td,
.skill-table th,
.skill-table td {
  padding: 8px;
  text-align: left;
  border-right: 1px solid #0c0101;
  border-bottom: 1px solid #0e0101;
 
} 

.skill-table th,
.employee-table th {
  background-color: #f2f2f2;
 
  cursor: pointer;
  padding: 10px;
  text-align: left;
  user-select: none;/* Header background color */
}
.employee-table th:active {
  background-color: #faf7f7;
}
.employee-table tbody tr:hover,
.skill-table tbody tr:hover {
  background-color: #e5f1ff; /* Hover background color */
  cursor: pointer;
}
.replacement-finder{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.replacement-finder h2{
  color: #faf7f7;
}
.skill-table h2,
.employee-table h2{
  color: #0b0a0a;
}
.filtered-count {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color:white ;
  
}