body{background-color:#E7DFE8;}

.home-div{display:flex;
gap:20px;}

.home-div div{
width:200px;
height:200px;
background-color:#cbb2bc;
box-shadow:0 0 1px 1px #92898A;
border-radius:20px;
display:flex;
gap:20px;
} 

.home{display:flex;
  flex-direction:column;
gap:1px;
flex-wrap:wrap;
justify-content:center;
width:800px;
height:500px;
align-items:center;
margin-left:18%;
}